/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* The logo image inside the navbar */
.navbar .logo img {
  width: 150px;
  height: auto;
  margin-right: 1rem; 
}

/* The Infosys Logo in the Hero Section */
.hero .logo img {
  width: 300px;
  height: auto;
}

/* The logo and title inside the navbar */
.logo .title {
  color: white;
  font-size: 1rem;
}

/* Navigation Links */
.nav-links {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  flex-grow: 1;
  position: relative; /* Make sure dropdown is positioned relative to this container */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #80cbc4;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.616);
  color: black;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Hero Section */
.hero {
  height: 100vh;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 0 1rem;
  padding-top: 80px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #f4f4f4;
}

.scroll-indicator {
  position: absolute;
  bottom: 2rem;
  font-size: 2rem;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.powerbi {
  justify-content: center;
  align-items: center;
}
